@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Noto Serif Bengali', serif;
}
.body1{
    background-image: linear-gradient( to bottom right, #EAFDFC, #EAFDFC);
}

#offcanvasLeft.offcanvas-start {
    width: 49%;
}
#offcanvasRight.offcanvas-end {
    width: 49%;
  }
  .canbodyl{
    position: relative;
  }
  .lebtn{
    position: absolute;
    top: 50%;
    left: 94%;
    transform: translate(-50%, -50%);
  }
.canbodyr{
    position: relative;
}
.ribtn{
    position: absolute;
    top: 50%;
    right: 94%;
    transform: translate(50%, -50%);
}

.backvideo{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}

.mirror{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.wlcome{
    font-size: 5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #ffe4e4, #36d1dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wldesc{
    font-size: 4rem;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #ffe4e4, #36d1dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.animated-text {
    background-image: linear-gradient(to right, #f7f7f7, #f5af19, #11f136);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 3s infinite linear;
  }
  
  @keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  

#first{
    background-image: linear-gradient(to bottom right, #E5E0FF, #8EA7E9);
    
}
.mrbottom{
    margin-bottom: 8rem;
}
.accor{
    background-image: linear-gradient(to bottom right,#c4d9fc,#f5f1f8 );
}
.accor1{
    background-image: linear-gradient(to top right, #ebf2ff, #f1f1f1 );
    
}
#carousel{
     background-image: linear-gradient(to top right, #AEE2FF, #FEDEFF); 
     max-width: 750px;
     
}
 .textgrad{
    font-size: 2.8rem;
    background: -webkit-linear-gradient(#662D8C,  #ED1E79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.quo{
    background-image: linear-gradient(to top right,#f6fcff,#AEE2FF );
   
}

.chotoimg{
 width: 100%;
 height: 15vw;
 object-fit: contain;
}

.desc{
    font-size: 1.2em;
    line-height: 1em;
    
}

  /* Define a class to add the animation to */
  .img-animation {
    animation: formMove 3s ease-in-out infinite;
  }

  /* Define the animation keyframes */
  @keyframes formMove {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

@media only screen and (max-width: 767px) {
    .desc{
        font-size: 1.1em;
    }
    .mrbottom{
        margin-bottom: 5rem;
    }
    #carousel{
      min-height: 350px;
    }
    .padt{
        padding-top: 1em;
    }
    .textgrad  {
      font-size: 1.8rem;
    }
    .gg {
        flex-basis: 50%;
        max-width: 50%;
      }
      .gg {
        margin-left: auto !important;
        margin-right: auto !important;
      }
      .single-line {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    .wlcome{
        font-size: 2.3rem;
        font-weight: bold;
    }
    .chotoimg{
      min-height: 220px;
    }
    .wldesc{
        font-size: 2rem;
        font-weight: bold;
    }
  }